body
{
	width: 400px;
}
.list-item-title
{
    float:left;
    width:100%;
    font-size:90%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.list-item-narrative
{
    float:left;
    width:100%;
    color:#666666;
    font-size:80%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}
.x-item-selected .list-item-title 
{
    color:#ffffff;
}
.x-item-selected .list-item-narrative
{
    color:#ffffff;
}
.btnPicture {
	background-image: url('../images/icon_camera.png');
	width: 40px;
	height: 40px;
}
.btnExpense {
	background-image: url('../images/icon_write.png');
	width: 40px;
	height: 40px;
}
.btnReport {
	background-image: url('../images/icon_report.png');
	width: 40px;
	height: 40px;
}
.btnAllReports {
	background-image: url('../images/icon_allr.png');
	width: 40px;
	height: 40px;
}